@media screen and (min-width: 300px){
	body {
	background: #e0e0e0;
	font-family: arial;
	font-size: 12pt;
	color: #2a6496;	
	}
}

@media screen and (max-width: 300px){
	body {
	background: #2a6496;
	font-family: arial;
	font-size: 12pt;
	color: #2a6496;	
	}
}



.post-wrapper {
	float: left;
	width: 100%;
	margin: 5% 0 0 0;
	padding: 0 0 0 0;
}

.blog-post-label {
	float: left;
	width: 100%;
	margin: 10% 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	font-weight: bold;
	font-size: 16pt;
}

.blog-post-outer {
	float: left;
	width: 60%;
	margin: 2% 0 2% 20%;
	padding: 1%;
	background: #e0e0e0;
	border-radius: 6px;
	-moz-border-radius: 6px; /* Firefox 3.6 and earlier */
	border: darkgreen solid 1px;
}

.blog-intro-text {
	float: left;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
}

.blog-read-more {
	float: left;
	width: 100%;
	margin: 2% 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
}

.blog-entry-wrapper {
	float: left;
	width: 100%;
	margin: 1% 0 0 0;
	padding: 0 0 0 0;
}

.blog-entry-outer {
	float: left;
	width: 60%;
	margin: 2% 0 2% 20%;
	padding: 1%;
	background: #e0e0e0;
	border-radius: 6px;
	-moz-border-radius: 6px; /* Firefox 3.6 and earlier */
	border: darkgreen solid 1px;
}

.blog-comment-wrapper {
	float: left;
	width: 50%; 
	margin : 2% 0 2% 25%;
	padding: 1%;
	border-radius: 6px;
	-moz-border-radius: 6px; /* Firefox 3.6 and earlier */
	border: darkgreen solid 1px;
}

.blog-entry-comments {
	float: left;
	width: 96%;
	margin: 2% 0 2% 2%;
	padding: 1%;
	background: #f5e79e;
	border-radius: 6px;
	-moz-border-radius: 6px; /* Firefox 3.6 and earlier */
	border: darkgreen solid 1px;
}

.blog-comment-label {
	float: left;
	width: 100%;
	margin: 1% 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	font-weight: bold;
	font-size: 16pt;
}



