
<div id="container" class="container">
	
	
	
	<div class="blog-post-label">Blog Posts</div>
	
	
	
	<div class="post-wrapper">
		
		
		<input class="btn btn-primary btn-lg btn-block" type="button" ng-click="testFactory()" value="Test me"/>
		<input class="btn btn-warning btn-lg btn-block" type="button" ng-click="setCredentials('Cristianx','cleverx')" value="Cookie"/>
		
		
		<div ng-repeat="blogPost in blogList">
			<div class="blog-post-outer">
				<div class="blog-intro-text">Posted: {{blogPost.date | date:'MM/dd/yyyy @ h:mma'}}</div>
				<div class="blog-intro-text">{{blogPost.introText}}</div>
				<div class="blog-read-more">
					<a ng-href="#!blogPost/{{blogPost._id}}">Read More</a>
				</div>
			</div>
		</div>
		
		
	</div>
</div>